*{
   box-sizing: border-box;
}

body {
    background-color: rgb(162, 158, 158);
    margin: 0px;
    padding: 0px;

}

.header {
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(78, 80, 80);
    
}

 .header h1 {
    color: rgb(154, 194, 239);
    font-size: 40px;
    margin-left: 15px;
    padding-bottom: 50px;

 }

 .header h1 .Green {
    color:rgb(3, 7, 20)
 }

 .header img {
   max-width: 100%;
   height: auto;

 }

 .header nav {
    flex-wrap: wrap;
    float: right;
    padding-top: -20px;
    font-size: 24px;
    margin-top: -85px;
    padding-right: 15px;

 }

 .header nav ul {
    list-style-type: none;
   
 }

 .header nav ul li {
    display: inline-block;
    margin-left: 25px;
    margin-bottom: 50px;
    
       
 }

 a {
   color:rgb(154, 194, 239);
   text-decoration: none;
   
 }

 .hero{
   display:flex;
   background-size: cover;
   height: 650px;
   width: 80%;
   margin-bottom: 25px;
   background-image: url("../images/forest-service.jpeg");
   margin-left: 130px;
   
 }

 #about-me{
   display: flex;
   font-family: serif;
   color:rgb(3, 7, 20);
   width: 100%;
  
 }

 #about-me h2 {
   font-size: 33px;
   font-family: serif;
   color:rgb(3, 7, 20);
   text-align: right;
   width: 30%;
   border-right: 5px solid rgb(3, 7, 20);
   margin-right: 10px;
   padding: 10px;
 }

 #about-me p{
   font-family: Arial, Helvetica, sans-serif;
   padding-left: 5px;
   color: rgb(3, 7, 20);
 }

  
 .project img {
   border: 8px solid  rgb(4, 72, 127);
   width: 40%;
   justify-content: center;
   flex-wrap: wrap;
   
 }

 .project {
   display: flex;
   flex-wrap: wrap;
   padding: 10px;
   text-align: center;
   border-style: solid;
   border-width: px;
   justify-content: center;
 }

 .project header{
   font-family: serif;
   font-size: 23px;
   padding: 20px;
  color: #fff;
  background:rgb(4, 72, 127)

 }

 .project p {
   font-family: Arial, Helvetica, sans-serif;
   padding-left: 10px;
 }
 

 #my-work{
   flex-wrap: wrap;
 
 
   
 }

 #my-work h2 {
   font-size: 33px;
   font-family: serif;
   color:rgb(3, 7, 20);
   text-align: right;
   width: 8%;
   border-right: 5px solid rgb(3, 7, 20);
   margin-right: 8px;
   margin-left: 21px;
   padding: 10px;

 }


.container{
   position: relative;
}

.text-block{
   position:absolute;
   bottom: 20px;
   right: 425px;
   padding-left: px;
   background-color: rgb(111, 110, 110);
   color: white;

}


 #contact{
   display: flex;
   flex-wrap: wrap;
 }

 #contact h2{
   border-right: 5px solid rgb(3, 7, 20);
   font-size: 33px;
   margin-left: 10px;
   padding-left: 10px;
   padding-right: 10px;
   color: rgb(3, 7, 20); 
 }


#contact ul{
   list-style: none;
   margin-left: 170px;
}

#contact ul li {
   display:inline-block;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 23px;
   margin-bottom: 50px;
   margin-left: 50px;
   padding-top: 20px;
   text-decoration: underline;
   
}
 
#contact a{
   color:rgb(4, 72, 127);
   

}
 



